.aboutusimg-container {
  background-color: #ffffff;
  /* Use your preferred color code here */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  /* Adjust the height as needed */
  box-shadow: none !important;
}

.abutusimgback {
  text-align: center;
  color: #000000;
  /* Text color */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
}


/* 
.abutusimgback {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
} */

/* .aboutusimg {
  width: 100px; 
  height: 300px;
} */



.boxContainer {
  text-align: center;
  margin: 8%;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  gap: 10px;
}


.card-with-overlay {
  flex: 1;
  position: relative;
  overflow: hidden;
  transition: opacity 0.3s, background-color 0.3s;
}

.image-container {
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.card-with-overlay:hover {
  opacity: 1;
  background-color: black;

}

.card-with-overlay:hover .overlay-text {
  opacity: 1;
}

.card-with-overlay:hover .image-container img {
  opacity: 0.6;
}

.card-with-overlay .image-container img {
  transition: opacity 0.3s;
}

.flex-row-container {
  display: flex;
  flex-wrap: wrap;
  /* Allow cards to wrap if they exceed container width */
  justify-content: space-between;
  /* Distribute cards evenly across the row */
  align-items: center;
  /* Align items vertically in the center */
  margin-bottom: 5%;
}

.card-with-flex {
  flex: 1;
  /* Distribute available space equally among cards */
  width: 200px;
  /* Adjust the width as needed (3 cards per row) */
  padding-top: 1%;
  padding-bottom: 1%;
  margin: 10px;
  /* Add some space around each card */
  max-height: 200px;
}

.devContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 70px;
}

@media only screen and (max-width: 600px) {

  .boxContainer {
    grid-template-columns: 1fr;
  }

  .boxContainer .box.large-box {
    grid-column: 1;

  }

  .devContainer {
    grid-template-columns: 1fr;
  }
}

.boxContainerMustafa {
  display: grid;
}



.typography-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(206, 40, 40);
  font-family: 'Roboto', serif;
  font-size: 3rem;
  text-align: center;
}


.head {
  position: relative;
  z-index: 1;
  /* Additional styles for your heading */
}

.us-card {
  /* ... Your existing styles ... */
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;


}

.ms-image {
  width: 100px !important;
  /* Fixed width for the circular image */
  height: 100px;
  /* Fixed height for the circular image */
  border-radius: 50%;
  /* Make the image circular */
  object-fit: cover;
  margin-bottom: 10px;
  margin: 0 auto;
  object-position: top;
}

.pageus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 9px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  /* Set background color */
}

.card-with-flex {
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.allcontainers {

  gap: 10px;
  padding: 50px;
}


.ms-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.Downer {
  margin-bottom: 40px;
  padding: 200px;
  position: relative;
  background-image: url('/src/assets/olympic.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100px !important;
  background-attachment: fixed;
  /* Keep the background fixed while scrolling */
}

.Downer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.downer-us {
  position: relative;
  z-index: 60;
}

.sps {
  width: 100%;
  text-align: left;
  padding-left: 20px;
  max-width: 600px;
  overflow: hidden;
  /* white-space: nowrap; */
  /* text-overflow: ellipsis;  */
  text-align: justify;
  text-justify: inter-character;
  font-size: 12px;

}

.text {
  color: white;
  /* Set the text color to white for better visibility on the overlay */
}




/*the second .... our goals here*/


.uper {
  margin-bottom: 100px;
  padding: 200px;
  position: relative;
  background-image: url('/src/assets/bask.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100px !important;
  background-attachment: fixed;
  /* Keep the background fixed while scrolling */
}

.uper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 3, 3, 0.5);
  z-index: 50;
}

.uper-us {
  position: relative;
  z-index: 60;
}

/* 

.sps {
  width: 100%;
} */

.key {
  color: white;
  /* Set the text color to white for better visibility on the overlay */
}

/*end her */




/*the therd .... our goals here*/


.midel {
  margin-bottom: 40px;
  padding: 200px;
  position: relative;
  background-image: url('/src/assets/team.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100px !important;
  background-attachment: fixed;
  /* Keep the background fixed while scrolling */
}

.midel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 3, 3, 0.5);
  z-index: 50;
}

.midel-us {
  position: relative;
  z-index: 60;
}



.key {
  color: white;
  /* Set the text color to white for better visibility on the overlay */
}

/*end her */



.us {
  padding: 20px;
}


h5 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

body2 {
  color: #555;
  font-size: 1rem;

}

.card-link {
  text-decoration: none;
  /* Remove underline from the link */
  cursor: pointer;
  /* Change cursor to indicate the link is clickable */
  transition: background-color 0.3s;
  /* Add transition for hover effect */

  /* Add any other styling you want for the link */
}

.card-link:hover {
  background-color: #f5f5f5;
  /* Change background color on hover */
}

.card-container {
  display: inline-block;
  /* Ensures the container takes up the same space as the card */
}

/* Your other styles */

.nightmode-hover {
  transition: background-color 0.3s, color 0.3s;
}

.nightmode-hover:hover {
  background-color: rgba(151, 151, 151, 0.9);
  /* Adjust the opacity as needed */
  color: #fff;
}



/* Add this CSS to your existing stylesheet */
@media (max-width: 768px) {
  .allcontainers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .midel,
  .Downer,
  .uper {
    width: 100%;
    margin-bottom: 20px;
    padding: 0px;
    width: 100%;
    text-align: center;
    border-radius: 30px !important;
  }

  .sps {
    padding-left: 0px;
    text-align: center;
  }

  .card-with-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ms-image {
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
}




@media (max-width: 768px) {
  .card {
    width: 100%;
  }

  .css-o2w69a-MuiTypography-root {
    font-size: 2rem !important;
    margin-top: 10px !important;
  }

  .aboutusimg-container {
    height: auto;
  }

  h5 {
    margin: 5px;
    font-size: 1rem;
  }
}
