.boxContainer-home {
    text-align: center;
    margin: 8%;

}

.cards-container-home {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;

}

.left-home {
    justify-content: flex-end !important;
}

.card-column-home {
    display: flex;
    flex-direction: column;
}

.card-middle-home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.card-with-overlay-home {
    flex: 1;
    position: relative;
    overflow: hidden;
    transition: opacity 0.3s, background-color 0.3s;
    margin: 15px;
    border-radius: 20px !important;
    width: 300px;
}

.card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
    
}


.overlay-text-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(53, 52, 52, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-family: 'Libre Baskerville', serif !important;
}





.flex-row-container-home {
    display: flex;
    flex-wrap: wrap;
    /* Allow cards to wrap if they exceed container width */
    justify-content: space-between;
    /* Distribute cards evenly across the row */
    align-items: center;
    /* Align items vertically in the center */
    margin-bottom: 5%;
}

.card-with-flex-home {
    flex: 1;
    /* Distribute available space equally among cards */
    width: 200px;
    /* Adjust the width as needed (3 cards per row) */
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 10px;
    /* Add some space around each card */
    max-height: 200px;
}



.fontmedil{

    font-family: 'Libre Baskerville', serif !important;
}

.devContainer-home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 70px;
}

@media only screen and (max-width: 768px) {

    .boxContainer-home {
        grid-template-columns: 1fr !important;

    }

    .cards-container-home {
        flex-direction: column-reverse;
        margin-top: 300px;
        margin-bottom: 300px;
        justify-content: center !important;

    }

    .card-column-home {
        flex-direction: column !important;

    }

    .boxContainer-home .box-home.large-box-home {
        grid-column: 1;

    }

    .devContainer-home {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 768px) {
    .video-container-home .content-wrapper-home {
        left: 50% !important;

    }

    .card-middle-home {
        margin-right: 0px;
    }

    .typography-overlay-home {
        font-size: 4rem !important;
    }

    .discover-button-home {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {

    /* Apply responsive styles for screens smaller or equal to 768px */
    .cards-container-home {
        justify-content: space-between;
    }

    .card-with-overlay-home .image-container-home img {
        height: 300px;
    }

    .image-container-home {
        position: relative;
    }

    .card-column-home {
        flex-direction: row;
        align-items: flex-start;
    }

    .container-atl-home {
        margin: 0;
        font-size: 2rem !important;
        flex-direction: column;
        
    }

    .container-pro-home {
        margin: 0;
        font-size: 2rem !important;
        flex-direction: column;
    }

    .css-lvo1hb-MuiTypography-root {
        font-size: 2rem !important;
    }
}

  


@media (max-width: 768px) {

    /* Apply responsive styles for screens smaller or equal to 768px */
    .cards-container-home {
        justify-content: space-between;
    }

    .card-with-overlay-home .image-container-home img {
        height: 300px;
    }

    .image-container-home {
        position: relative;
    }

    .card-column-home {
        flex-direction: row;
        align-items: flex-start;
    }

    .container-atl-home {
        margin: 0;
        font-size: 2rem !important;
        flex-direction: column;
    }

    .container-pro-home {
        margin: 0;
        font-size: 2rem !important;
        flex-direction: column;
    }

    .css-lvo1hb-MuiTypography-root {
        font-size: 2rem !important;
    }
}

.video-container-home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container-home video {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.video-container-home .content-wrapper-home {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.typography-overlay-home {
    color: white !important;
    font-family: 'Roboto', serif;
    font-size: 3rem;
    font-family: 'Libre Baskerville', serif !important;
    /* font-family: 'Noto Sans Multani', sans-serif !important; */
}

.discover-button-home {
    display: block;
    margin-top: 2% !important;
    text-align: center;
    z-index: 2;
    background-color: #333333 !important;
    color: #FFFFFF !important;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-family: 'Libre Baskerville', serif !important;

}

.discover-button-home:hover {
    background-color: #FFFFFF !important;
    color: #333333 !important;
}


.container-pro-home {
    margin-top: 2%;
    padding: 1%;
    display: flex;
    color: white;
    position: relative;
    background-image: url("https://mvcmagazine.com/wp-content/uploads/2020/08/COPSNEAK.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}



.container-atl-home {
    margin-top: 2%;
    padding: 1%;
    display: flex;
    color: white;
    position: relative;
    background-image: url("https://64.media.tumblr.com/c64b27792a2d346109c6bb95b2be5237/23470b3abcef12ae-37/s2048x3072/0d11c5cb225f37d64839d58ca08abb96167ccd51.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Libre Baskerville', serif !important;

    
}

.container-pro-home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    /* Adjust the opacity and color as desired */
}


.text-container-home {
    flex: 1;
    margin: 2%;
    z-index: 1;
    font-family: 'Libre Baskerville', serif !important;
    
    
}

.grid-container-home {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-gap: 20px;
    flex: 1;
    z-index: 1;
}

.grid-item-home {
    height: 100%;
}

.product-card-container-home {
    height: 100%;
}

.product-card-wrapper-home {
    height: 100%;
}

.product-card-link-home {
    height: 100%;
}

.product-card-content-home {
    height: 100%;
}
















.container-pro-home {
    margin-top: 2%;
    padding: 1%;
    display: flex;
    color: white;
    position: relative;
    background-image: url("https://mvcmagazine.com/wp-content/uploads/2020/08/COPSNEAK.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container-pro-home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    /* Adjust the opacity and color as desired */
}

/* .text-container-home {
    flex: 1;
    margin: 2%;
    z-index: 1;
    font-family: 'Libre Baskerville', serif !important;
    font-family: 'Noto Sans Multani', sans-serif !important;
} */

.grid-container-home {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-gap: 20px;
    flex: 1;
    z-index: 1;
}

.grid-item-home {
    height: 100%;
}

.product-card-container-home {
    height: 100%;
}

.product-card-wrapper-home {
    height: 100%;
}

.product-card-link-home {
    height: 100%;
}

.product-card-content-home {
    height: 100%;
}